<html>

<head>
    <title>ARKAD search</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name=viewport content="width= device-width">
    <link rel="stylesheet" href="/style.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="page">
        <div class="nav-container">
            <div class="nav-left-container">
                <a class="nav-button" href="./users"><i class="fa fa-arrow-left"></i></a>
            </div>
            <div class="nav-right-container">
                <form action='/logout' method='post' style="margin: 0;">
                    <button type="submit" class="nav-button"><i class="fa fa-sign-out"></i></button>
                </form>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1 style="margin-top:150px;">ARKAD search</h1>
            </div>
                <form action = "/create_account" method="post" name="myform" style="margin-top:30px;">
                    <h3>Create an account for ARKAD search</h3>

                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Username"></input>
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password"></input>
                    </div>
                    <button type="submit" name="push" class="btn btn-primary">Create account</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
