@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
:root {
  font-size: 16px;
  position: relative;
}

:host {
}

button:focus {outline:0;}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
/* still need some rem/em converting*/
/*Shine*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button#activate {
  background: #eaeaea;
  border: none;
  color: #d46777;
  padding: 15px 35px 15px 35px;
  font-size: 1.7rem;
  text-transform: uppercase;
  border-radius: 40px;
  box-shadow: 3px 3px 8px #772732;
  font-weight: 600;
  outline: none;
}
button#activate:hover {
  background: #f5f5f5;
}

#noteWrap {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #eaeaea;
  color: #c55465;
  width: 16rem;
  height: 8rem;
  padding: 10px;
  font-weight: 600;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 8px #772732;
}
#noteWrap:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #eaeaea;
  position: absolute;
  top: 35px;
  right: 255px;
}
#noteWrap p {
  font-size: 1.2rem;
  text-align: center;
}

.nav-container {
  position: fixed;
  width: 100%;
  height: 65px;
  font-size: 40px;
  top: 0;
  border-bottom: 1px solid #222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2575BB;
  z-index: 10;
}

.nav-left-container {
  display: inherit;
  margin-left: 20px;
}

.nav-right-container {
  display: inherit;
  margin-right: 20px;
}

.nav-button {
  background-color: transparent;
  border: none;
  color: #eee;
  margin-right: 20px;
  display: flex;
  align-items: center;
  text-decoration: none !important;
}

.nav-button:hover {
  color: #ccc;
}

.header-container {
  display: flex;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
}

.header-container h1 {
  margin: 0;
}

.add-button {
  background-color: transparent;
  border: none;
  color: #232323;
  margin-left: 20px;
  display: flex;
  align-items: center;
  text-decoration: none !important;
  font-size: 40px;
}

.add-button:hover {
  color: #454545;
}

.icon-button {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.icon-button:hover {
  color: #aaa;
}

.form-style {
  margin: 0;
  padding: 0;
}

.page {
  text-align: center;
}

td {
  display: table-cell;
  text-align: start;
  vertical-align: middle !important;
}

.entity-title {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: bold;
}

.entity-time,
.entity-date {
  margin: 0;
  min-width: 63px;
  max-width: 63px;
}

.entity-info {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #737373;
}

@media (max-width: 600px) {
  .entity-title {
    max-width: 100px;
  }
  .entity-info-title,
  .entity-info {
    display: none;
  }
}