<!DOCTYPE html>
<html>
<head>
    <title>Koordinator webUI</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css"/>
    <meta charset="utf-8">
    <meta name=viewport content="width= device-width">

</head>
<body>
    <div class="page">
        <div class="nav-container">
            <div class="nav-left-container">
                <a class="nav-button" href="./content"><i class="fa fa-arrow-left"></i></a>
            </div>
            <div class="nav-right-container">
                <form action='/logout' method='post' style="margin: 0;">
                    <button type="submit" class="nav-button"><i class="fa fa-sign-out"></i></button>
                </form>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <div class="header-container">
                    <h1>All users</h1>
                    <a class="add-button" href="./create_account"><i class="fa fa-plus"></i></a>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Username:</th>
                        <th>Admin:</th>
                    </tr>
                </thead>
                <% if (dbusers) {
                    for (var i=0; i < dbusers.length; i++) { %>
                    <tr>
                        <td><%= dbusers[i].username %></td>
                        <td>
                            <% if(isAdmin) { %>
                                <form class="form-style" method="post" action="/admin_permission?username=<%= dbusers[i].username %>&admin=<%=!dbusers[i].admin%>">
                                    <% if(dbusers[i].admin) { %>
                                        <button class="btn btn-success">ADMIN</button>
                                    <% } else { %>
                                        <button class="btn btn-default">ADMIN</button>
                                    <% } %>
                                </form>
                            <% } else if(dbusers[i].admin) {%>
                                ADMIN
                            <% } %>
                        </td>
                    <% if(isAdmin) { %>
                        <td>
                            <button class="icon-button" type="submit" onclick="confirmation('<%= dbusers[i].username %>')">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </td>
                    <% } %>
                    </tr>
                    <% }
                } %>
            </table>
        </div>
    </div>
</body>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        function confirmation(name) {
            if(confirm("Delete user?")){
                 $.post("/delete_user",
                {
                    username: name
                },
                function(data, status){
                    if(data.redirect){
                        window.location.href = data.redirect;
                    }
                });
             }
        }
    </script>
</html>
