<html>
<head>
    <title>ARKAD search</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css"/>
    <meta charset="utf-8">
    <meta name=viewport content="width= device-width">
</head>
<body>
    <a class="close-button" href="./content"><i class="fa fa-arrow-left"></i></a>
    <div class="page">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1 style="margin-top:150px;">Create ARKAD seach data</h1>
            </div>
            <form action="/search" method="post" name="myform" style="margin-top:30px;">
                <h3>Lägg till data</h3>

                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Title"></input>
                </div>

                <div class="form-group">
                    <input type="time" name="time" class="form-control" placeholder="time"></input>
                </div>

                <div class="form-group">
                    <input type="date" name=date class="form-control" placeholder="date"></input>
                </div>

                <div class="form-group">
                    <textarea name="info" placeholder="Description of the event..." class="form-control"></textarea>
                </div>

                <button type="submit" name="push" class="btn btn-primary">Post</button>
            </form>

            <form action='/logout' method='post'>
                <button type="submit" class="btn btn-danger"> Logout </button>
            </form>
        </div>
    </div>
</body>
</html>
